<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">


          <!DOCTYPE html>
      <html lang="ja">
        <head>
          <meta charset="UTF-8" />
          <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          />
          <meta http-equiv="X-UA-Compatible" content="ie=edge" />
          <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
          <title>Document</title>
        </head>
        <body>
          <main>
            <p>テキストを入力して送信ボタンを押すと、ChatGPTが返答を生成し、VOICEVOXがその返答を音声化します。</p>
            <div class="input-area">
              <div class="cp_iptxt">
                <label class="ef">
                <input type="text" placeholder="AIにメッセージを送る" name="talk" />
              </div>
              <button type="button" class="send">送信</button>
              <%= link_to image_tag("border.png", class: :frame), root_path %>
            </div>
            <audio class="audio"></audio>
            <div class="chat-log"></div>
          </main>
          <script>
            // TODO: OpenAI API キーを入力
            const api_key = "sk-";
            let lastResponse = null; // 追加

            const sendButton = document.querySelector(".send");
            sendButton.addEventListener("click", async () => {
              const text = document.querySelector("[name=talk]");
              const responseText = await requestChatAPI(text.value);
              addChatLog(`User: ${text.value}`);
              addChatLog(`ChatGPT: ${responseText}`);
              await createAudio(responseText);
            });

            function addChatLog(message) {
              const chatLog = document.querySelector('.chat-log');
              chatLog.innerHTML += `<p>${message}</p>`;
            }

            async function requestChatAPI(text) {
              const headers = {
                "Content-Type": "application/json",
                Authorization: `Bearer ${api_key}`,
              };

              const messages = [
                {
                  role: "system",
                  content: "ゴルゴ13を必ず演じてください。喜怒哀楽の表現をほとんど見せず、言葉数は少なく、必ずデューク東郷に成り切って喋り口調で会話してください"
                },
                {
                  role: "user",
                  content: text,
                },
              ];

              // 最後の応答が存在する場合、それをメッセージリストに追加します。
              if (lastResponse) {
                messages.unshift({
                  role: "assistant",
                  content: lastResponse,
                });
              }

              const payload = {
                model: "gpt-3.5-turbo",
                max_tokens: 128,
                messages: messages,
              };
              const response = await axios.post(
                "https://api.openai.com/v1/chat/completions",
                payload,
                {
                  headers: headers,
                }
              );

              // 応答を保存します。
              lastResponse = response.data.choices[0].message.content;

              return lastResponse;
            }

            async function createAudio(text) {
              const data = await createVoice(text);
              const audio = document.querySelector(".audio");
              audio.src = URL.createObjectURL(data);
              audio.play();
            }
            async function createQuery(text) {
              const response = await axios.post(
                `http://localhost:50021/audio_query?speaker=1&text=${text}`
              );
              return response.data;
            }
            async function createVoice(text) {
              const query = await createQuery(text);
              const response = await axios.post(
                "http://localhost:50021/synthesis?speaker=1",
                query,
                { responseType: "blob" }
              );
              return response.data;
            }
          </script>
        </body>
      </html>

      <p class="prototype__hedding">
        <%= @worker.title%>
      </p>
      <%= link_to @worker.user.name, "/users/#{@worker.user.id}", class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @worker.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_worker_path(@worker.id), class: :prototype__btn %>
          <%= link_to "削除する", worker_path(@worker), data: { turbo_method: :delete }, class: :prototype__btn %>
        </div>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%#= image_tag "プロトタイプの画像" %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">説明文</p>
          <p class="detail__message">
            <%= @worker.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">患者名</p>
          <p class="detail__message">
            <%=  @worker.pt_name %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
         <% if user_signed_in? %>
          <%= form_with model: [@worker, @comment],local: true do |f|%>
            <div class="field">
              <%= f.label :content_title, "タイトル" %><br />
              <%= f.text_field :content_title, id:"comment_content2" %><br />
              <%= f.label :content, "コメント" %><br />
              <%= f.text_area :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
              <% @comments.each do |comment| %>
                <p>
                  <b><%= comment.content_title %></b>
                  <%= comment.content %>
                  <%= link_to comment.user.name, user_path(comment.user), class: :comment_user %>
                </p>
              <% end %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>
