<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @worker.title%>
      </p>
      <%= link_to @worker.user.name, "/users/#{@worker.user.id}", class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @worker.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_worker_path(@worker.id), class: :prototype__btn %>
          <%= link_to "削除する", worker_path(@worker), data: { turbo_method: :delete }, class: :prototype__btn %>
        </div>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%#= image_tag "プロトタイプの画像" %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">説明文</p>
          <p class="detail__message">
            <%= @worker.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">患者名</p>
          <p class="detail__message">
            <%=  @worker.pt_name %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
         <% if user_signed_in? %>
          <%= form_with model: [@worker, @comment],local: true do |f|%>
            <div class="field">
              <%= f.label :content_title, "タイトル" %><br />
              <%= f.text_field :content_title, id:"comment_content2" %><br />
              <%= f.label :content, "コメント" %><br />
              <%= f.text_area :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
              <% @comments.each do |comment| %>
                <p>
                  <%= comment.content_title %>
                  <%= comment.content %>
                  <%= link_to comment.user.name, user_path(comment.user), class: :comment_user %>
                </p>
              <% end %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>
